body {
  margin: 0;
}

h1 {
  text-align: center;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 32px;
  color: #332727;
  margin-top: 31px;
  margin-bottom: 0px;
}

h2 {
  text-align: center;
  font-family: sans-serif;
  font-weight: normal;
  font-size: 23px;
  color: rgba(0,0,0,.44);
  margin-top: 0px;
  margin-bottom: 30px;
}

.headercenter {
  margin: 0 auto;
  width: 50%;
}

.idphoto {
  width: 50px;
  height: 50px;
  font-family: sans-serif;
  border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  overflow: hidden;
  display: flex;
}

.idphoto   img {
  width: 50px;
  height: 50px;
}

.id {
  display: flex;
  font-family: sans-serif;
}

.idname {
  font-size: 15px;
  line-height: 21px;
  color: rgba(0,0,0,0.8);
  flex-direction: column;
}

.iddesc {
  font-size: 13px;
  line-height: 18px;
  color: rgba(0,0,0,.44);
  flex-direction: column;
}

.cover img {
  width: 100%;
}

.text {
  margin: 0 auto;
  width: 50%;
  color: rgba(0,0,0,.8);
  font-size: 18px;
  font-style: italic;
  line-height: 27px;
  font-family: serif "Georgia";
}

.text a {
  font-weight: bold;
  text-decoration: underline;
  color: rgba(0,0,0,.8);
}
