body {
  box-sizing: border-box;
  background-color: white;
  display: flex;
  justify-content: center;
  font-family: 'Merriweather Sans', sans-serif;
}

#player {
  margin-top: 5vh;
  width: 70vw;
  min-width: 600px;
  height: 50vh;
  min-height: 400px;
  color: #4c4f52;
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 1px 1px 3px #c3c3c3;
  position: relative;
  overflow: hidden;
}

#music {
  height: 90%;
  display: flex;
}

.column {
  width: 50%;
  position: relative;
}

.column:first-child {
  border-right: 2px solid #dbdbdb;
}

.logo {
  margin-top: 15px;
  margin-left: 15px;
  height: 85px;
  width: 85px;
  background-image: url("images/foxplayer.png");
  display: inline-block;
}

#artwork {
  position: absolute;
  right: 0;
  top: 0;
  display: inline-block;
  width: 150px;
  height: 150px;
  background-image: url("images/music-placeholder.png");
  background-size: cover;
}

#playlists {
  position: relative;
}

#playlists h1 {
  font-size: 18px;
  padding: 15px;
  width: 50%;
  display: inline-block;
}

.new-playlist {
  position: absolute;
  top: 15px;
  right: 160px;
  width: 20px;
  height: 20px;
  background-image: url('images/add.svg');
  background-size: 20px;
  opacity: .4;
  transition: .5s ease;
  -webkit-transition: .5s ease;
  -moz-transition: .5s ease;
}

.new-playlist:hover {
  opacity: .7;
  transition: .5s ease;
  -webkit-transition: .5s ease;
  -moz-transition: .5s ease;
}

#allplaylists ul {
  width: 100%;
}

li {
  list-style-type: none;
  font-size: 14px;
  padding: 15px;
  background-color: #eaeaea;
  cursor: pointer;
}

li:nth-child(2) {
  background-color: #f5f5f5;
}

#allplaylists li.active {
  background-color: #abe7e5;
}

#allplaylists li:hover {
  background-color: #abe7e5;
}

#current h1 {
  padding: 15px;
}

#current h2 {
  color: #c9c9c9;
  font-size: 12px;
  font-weight: 400;
  margin: -10px 0 15px 15px;
}

#tracklist li.active {
  background-color: #abe7e5;
  font-size: 12px;
}

#tracklist li:hover {
  background-color: #abe7e5;
}

.track {
  font-size: 12px;
}

.tracknumber {
  color: #c9c9c9;
  margin-right: 10px;
}

.artistbracket::before {
  content: '(';
}

.artistbracket {
  margin-left: 5px;
}

.artistbracket::after {
  content: ')';
}

.length {
  position: absolute;
  right: 15px;
}

#control-panel {
  position: relative;
  bottom: 0px;
  height: 10%;
  width: 100%;
}

audio {
  width: 100%;
}

audio::-internal-media-controls-download-button {
  opacity: 0;
}

/* style controls: select pseudo and overwrite in css */
