body {
  margin-left: 30px;
  font-size: 18px;
}

.border-duckmidleft {
  box-sizing: border-box;
  border: 2px solid black;
  padding: 40px;
  width: 300px;
  margin-bottom: 20px;
  background: no-repeat url(https://github.com/greenfox-zerda-lasers/syllabus/raw/master/week-01/4-html-css/duck.png);
  background-position: left;
}

.border-duckcenter {
  box-sizing: border-box;
  border: 2px solid black;
  padding: 40px;
  width: 300px;
  margin-bottom: 20px;
  background: no-repeat url(https://github.com/greenfox-zerda-lasers/syllabus/raw/master/week-01/4-html-css/duck.png);
  background-position: center;
}

.border-duckbottomright {
  box-sizing: border-box;
  border: 2px solid black;
  padding: 40px;
  width: 300px;
  margin-bottom: 20px;
  background: no-repeat url(https://github.com/greenfox-zerda-lasers/syllabus/raw/master/week-01/4-html-css/duck.png);
  background-position: bottom right;
}
