body {
  margin: 15px;
  text-decoration: none;
}

.green-box {
  margin: 0 auto;
  margin-bottom: 15px;
  background-color: #027F03;
  box-sizing: border-box;
  padding: 15px;
  width: 250px;
}

.yellow-box {
  margin: 0 auto;
  box-sizing: border-box;
  width: 220px;
  background-color: #FFFF00;
  color: #002B82;
  font-size: 30px;
  border: solid black 3px;
  padding: 15px;
}
